<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=DESKTOP-9BPNFM1\SQLEXPRESS; Database=ArsAfiliados_LuisEduardoFrias; Trusted_Connection=True;"/>
  </connectionStrings>
  
  <appsettings>
    <add key="WebClient" value="http://localhost:4200/" />
    <add key="keyJwt" value="dmdvsKlkjLKJOIjiojRJ8YUY7W6Rq6r9q6r96qr0qqehr8y3242f23rFE3Robert190114Luis941127"/>
  </appsettings>

</configuration>